.top {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 2.5px;
}
.logotip {
    margin-left: 10px;
    font-size: 24px;
    font-family: "Oswald";
    font-weight: 700;
    color: #327DA0;
}